<p>{{object.title}}</p>
<p>{{object.content}}</p>

<div style="display:inline;">
    <p>{{post.title}}</p>
    <p>{{post.content}}</p>
    <p>조회수 : {{post.view_count}}</p>
</div>
{% if post.file_upload %}
<video src="{{post.file_upload.url}}" controls></video>
{% endif %}

<hr>
<section>
    <h3>태그</h3>
    {% for tag in post.tags.all %}
        <p>{{tag.name}}</p>
    {% endfor %}
</section>

<section>
    <h3>댓글</h3>

    {% for comment in root_comments %}
        <hr>
        <p>{{ comment.message }}</p>
        <p>작성자: {{ comment.author }}</p>
        <p>작성일: {{ comment.updated_at }}</p>
        {% for reply in comment.replies.all %}
            <hr>
            <p>원댓글: {{ reply.parent_comment }}</p>
            <p>{{ reply.message }}</p>
            <p>작성자: {{ reply.author }}</p>
            <p>작성일: {{ reply.updated_at }}</p>
        {% endfor %}
    {% endfor %}
</section>

<section>
    <h3>댓글 작성</h3>
    <form action="{% url 'blog:comment_new' user_name post.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="댓글 작성">
    </form>
</section>

<a href="{% url 'blog:post_list' user_name %}">목록</a>
{% if user == post.author %}
<a href="{% url 'blog:post_edit' user_name post.pk %}">수정</a>
<a href="{% url 'blog:post_delete' user_name post.pk %}">삭제</a>
{% endif %}